*	{	
	margin: 0;
	font-family: verdana, sans-serif;
}

header {
    background-image:url(header.png);
    height: 210px;
    width: 100%; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1 {
	font-size: 75px;
	padding: 10px;
}

dl {
	background-color: orange;
	color: black;
	padding: 10px;
	margin: 0;
}


.row {
	display: flex;
}

.nieuws{
	width: 20%;

}

.nieuwsberichten{
	border-style: solid;
	background-color: black;
	color: white;
}


section {
    width: 60%;
    padding: 5px;
}

aside {
    width: 20%;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

.nieuwsvlak {
    border-style: solid;
    background-color: orange;
    padding: 5px;
    margin: 5px;
}